@import "tailwindcss";

/* @import url("https://fonts.googleapis.com/css2?family=Special+Gothic:wght@400..700&display=swap"); */

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
